*.out
*.err
*.log

*.swp
*~
edgeR_*

*.pptx
*.xls
*.xlsx

fastq/
counts/
*.db

*.html
*_files
*_cache

.Rproj.user
.Rhistory
.RData
.Ruserdata

~$*
__pycache__

IGV
HBV_refgenomes
testdata-out
testbiokit/HBVouroboros
config/config.yaml

.snakemake
README.pdf

docs/_build

test-outputs
resources/ref
results
*.pyc

