*.out
*.err
*.log

*.swp
*~
edgeR_*

*.pptx
*.xls
*.xlsx

fastq/
counts/
*.db

*.html
*_files
*_cache

.Rproj.user
.Rhistory
.RData
.Ruserdata

~$*
__pycache__

IGV
HBV_refgenomes
testdata-out
realdata
realdata-alignment


.snakemake
README.pdf
