*.out
*.err
*.log

*.swp
*~
edgeR_*

*.pptx
*.xls
*.xlsx

fastq/
counts/
*.db

*.html
*_files
*_cache

.Rproj.user
.Rhistory
.RData
.Ruserdata

~$*
biokit*
__pycache__

IGV
HBV_refgenomes
realdata
realdata-alignment

*.svg
